* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #E5E5E5;
}

body::before {
  content: '';
  background: #535971;
  height: 436px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  width: 416px;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  font-weight: normal;
  font-size: 48px;
  color: #fff;

  margin-top: 140px;
}

header p {
  
  font-size: 20px;
  color: #fff;

  margin-top: 18px;
}

form {
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;

  padding: 64px;
  margin-top: 58px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form legend {
  font-family: "Staatliches", sans-serif;
  font-size: 24px;
  font-weight:normal;

  color: #535971;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;
  width: 100%;
}

#full-name {
  display: flex;
  flex-direction: row;
  gap: 22px;

  margin-top: 20px;
}

.input-wrapper {
  display: flex;
  flex-direction: column; 
}

.input-wrapper label {
  font-size: 14px;
  color: #4E4958;

  margin-bottom: 8px;
}

.input-wrapper label span {
  font-size: 12px;
  color: #C1BCCC;

  margin-left: 6px;
}

.input-wrapper label span:hover {
  color: #69676e;
}

.input-wrapper input {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 24px;
  height: 56px;
  min-width: 300px;
}

.fieldset-wrapper h3 {
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
  font-weight: normal;

  color: #535971;

  margin-bottom: -8px;
}

.input-wrapper input[type="time"] {
  min-width: 140px;
}

.date-time {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.time-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer {
  background: #535971;
  border-radius: 0 0 20px 20px;
  width: 100%;
  padding: 52px 71px;
  margin-bottom: 360px;
}

.button {
  width: 100%;
  height: 55px;
  border: none;

  border-radius: 20px;

  background: #ff5374;

  font-family: "Staatliches", sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
}

button:hover {
  background: #c4405a;
}

input:invalid {
  border: 1px solid #ff5374;
}